* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.footer,
.content {
    background-color: #1f2937;
}

/* background colors */
.header,
.content,
.sign-up,
.footer {
    color: #f9f8fa;
}

.quote {
    background-color: #e5e7eb;
}

/* title weights */
.title {
    font-weight: 700;
}

.ctitle {
    font-size: 48px;
    font-weight: bolder;
}

.ititle {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    align-self: center;
}

.qtitle {
    align-self: flex-end;
}

button,
.sign-up {
    background-color: #3882f6;
}

.header {
    display: flex;
    justify-content: space-around;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 6em;
}

.left {
    display: flex;
    flex-direction: column;
}

button#first {
    align-self: flex-start;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

button#second {
    border: 2px solid #f9f8fa;
    border-radius: 10px;
    align-self: center;
}

.img {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    margin: 10px;
}

p {
    margin: 10px;
}

button {
    margin: 10px;
    color: #f9f8fa;
    width: 100px;
    height: 30px;
}

.info {
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
}

span {
    margin: 24px;
    display: flex;
    justify-content: space-evenly;
}

.subtext {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.quote {
    padding: 64px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sign-up {
    margin: 64px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}