body {
    margin: 0px;
}

p {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    color: #1F2937;
}

h5 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0px;
    font-size: 24px;
}

button {
    border-radius: 5px;
    color: #F9FAF8;
    padding: 10px;
    flex: 1;
}

ul {
    list-style: none;
}

.header,
.l-info,
.copyright,
.info {
    color: #F9FAF8;
}

.quote-container,
.img-placeholder {
    background-color: #E5E7EB;
}

.dark-section,
.footer {
    background-color: #1F2937;
}

button, 
.box {
    background-color: #3882F6;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 54px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.right-links {
    display: flex;
    gap: 12px;
}

.title-card {
    display: flex;
    justify-content: space-around;
}

.l-info {
    max-width: 400px;
}

.subtext {
    margin: 0px;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
}

.info-square {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.square {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    border: 2px solid #3882F6;
}

.quote-container {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}

.action {
    font-weight: bold;
    font-size: large;
    margin-bottom: 0px;
}

.sub-action {
    margin-top: 0px;
}

.button2 {
    border: solid #F9FAF8;
    max-width: 125px;
}

.button1 {
    border: solid #3882F6;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 125px;
}

.info {
    margin: 0px;
}

.quote {
   max-width: 600px;
   margin-bottom: 0px;
   font-size: 36px;
   font-style: italic;
   color: #1f2937;
}

.box {
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    margin: auto;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}